.padding-0 {
    padding: 0px !important;
}
.padding-t6 {
    padding-top: 6px;
}
.padding-t21 {
    padding-top: 21px;
}
.padding-l13 {
    padding-left: 13px !important;
}
.padding-l8r9 {
    padding-left: 8px;
    padding-right: 9px;
}
