<a href="#!/FixedAssets" 
   class="md-button md-primary" 
   ng-class="{active: location === '/FixedAssets' || location === '/'}">
    <md-tooltip class="tooltip"
                md-autohide="true"
                md-direction="right">Fixed Assets</md-tooltip>
    <md-icon class="material-icons"
             aria-label="Fixed Assets"
             alt="Fixed Assets"
             aria-hidden="true">
        devices
    </md-icon>
</a>
<a href="#!/AssignedAssets" 
   class="md-button md-primary" 
   ng-class="{active: location === '/AssignedAssets'}">
    <md-tooltip class="tooltip"
                md-autohide="true"
                md-direction="right">Assigned Assets</md-tooltip>
    <md-icon class="material-icons"
             aria-label="Assigned Assets"
             alt="Assigned Assets"
             aria-hidden="true">
        how_to_reg
    </md-icon>
</a>
<a href="#!/Disposed" 
   class="md-button md-primary" 
   ng-class="{active: location === '/Disposed'}">
    <md-tooltip class="tooltip"
                md-autohide="true"
                md-direction="right">Disposed</md-tooltip>
    <md-icon class="material-icons"
             aria-label="Disposed"
             alt="Disposed"
             aria-hidden="true">
        delete_forever
    </md-icon>
</a>
<a href="#!/FixedAssetsMovement" 
   class="md-button md-primary"
   ng-class="{active: location === '/FixedAssetsMovement'}">
    <md-tooltip class="tooltip"
                md-autohide="true"
                md-direction="right">Fixed Assets Movement</md-tooltip>
    <md-icon class="material-icons"
             aria-label="Fixed Assets Movement"
             alt="Fixed Assets Movement"
             aria-hidden="true">
        dvr
    </md-icon>
</a>